// Theme independent colors
$blue: #6BBCED;
$cyan: #4B81CE;

$indigo: #6610F2;
$purple: #6F42C1;

$yellow: #FFC107;
$orange: #FD7E14;

$red: #DC3545;
$pink: #E83E8C;

$teal: #20C997;
$green: #28A745;

// Theme specific colors
$white: #FFFFFF;
$light: #EEF2F5;

$gray: #6C757D;
$dark-gray: #343A40;
